parameters:
	ignoreErrors:
		-
			message: '#^Call to static method create\(\) on an unknown class PhpCsFixer\\Finder\.$#'
			identifier: class.notFound
			count: 1
			path: .php-cs-fixer.dist.php

		-
			message: '#^Instantiated class PhpCsFixer\\Config not found\.$#'
			identifier: class.notFound
			count: 1
			path: .php-cs-fixer.dist.php

		-
			message: '#^Access to an undefined property Html2Image\:\:\$css\.$#'
			identifier: property.notFound
			count: 2
			path: app/protected/lib/Html2Image.php

		-
			message: '#^Access to an undefined property Html2Image\:\:\$html\.$#'
			identifier: property.notFound
			count: 2
			path: app/protected/lib/Html2Image.php

		-
			message: '#^Access to constant KEY on an unknown class Html2ImageApiKey\.$#'
			identifier: class.notFound
			count: 1
			path: app/protected/lib/Html2Image.php

		-
			message: '#^Access to an undefined property \$this\(Route\)\:\:\$parser\.$#'
			identifier: property.notFound
			count: 1
			path: app/protected/lib/Route.php

		-
			message: '#^Access to an undefined property Route\:\:\$objects\.$#'
			identifier: property.notFound
			count: 1
			path: app/protected/lib/Route.php

		-
			message: '#^Access to an undefined property Route\:\:\$parser\.$#'
			identifier: property.notFound
			count: 1
			path: app/protected/lib/Route.php

		-
			message: '#^Instantiated class Mustache\\Engine not found\.$#'
			identifier: class.notFound
			count: 1
			path: app/protected/lib/Route.php

		-
			message: '#^Instantiated class Mustache\\Loader\\FilesystemLoader not found\.$#'
			identifier: class.notFound
			count: 1
			path: app/protected/lib/Route.php

		-
			message: '#^Method Route\:\:getCodeMetaRaw\(\) invoked with 1 parameter, 0 required\.$#'
			identifier: arguments.count
			count: 1
			path: app/protected/lib/Route.php

		-
			message: '#^Access to an undefined property RouteObject\:\:\$objects\.$#'
			identifier: property.notFound
			count: 1
			path: app/protected/lib/RouteObject.php

		-
			message: '#^Instantiated class Mustache\\Engine not found\.$#'
			identifier: class.notFound
			count: 1
			path: app/protected/lib/RouteObject.php

		-
			message: '#^Instantiated class Mustache\\Loader\\FilesystemLoader not found\.$#'
			identifier: class.notFound
			count: 1
			path: app/protected/lib/RouteObject.php

		-
			message: '#^Method RouteObject\:\:getCodeMetaRaw\(\) invoked with 1 parameter, 0 required\.$#'
			identifier: arguments.count
			count: 1
			path: app/protected/lib/RouteObject.php

		-
			message: '#^Instantiated class Mustache\\Engine not found\.$#'
			identifier: class.notFound
			count: 1
			path: app/protected/lib/RouteObjectOrObjectsIndex.php

		-
			message: '#^Instantiated class Mustache\\Loader\\FilesystemLoader not found\.$#'
			identifier: class.notFound
			count: 1
			path: app/protected/lib/RouteObjectOrObjectsIndex.php

		-
			message: '#^Call to static method fromPath\(\) on an unknown class Cocktail\.$#'
			identifier: class.notFound
			count: 2
			path: app/protected/lib/Tab.php

		-
			message: '#^Instantiated class Mustache\\Engine not found\.$#'
			identifier: class.notFound
			count: 1
			path: app/protected/lib/Tab.php

		-
			message: '#^Instantiated class Mustache\\Loader\\FilesystemLoader not found\.$#'
			identifier: class.notFound
			count: 1
			path: app/protected/lib/Tab.php

		-
			message: '#^Method Tab\:\:getZettels\(\) invoked with 0 parameters, 1 required\.$#'
			identifier: arguments.count
			count: 2
			path: app/protected/lib/Tab.php

		-
			message: '#^Undefined variable\: \$other_path$#'
			identifier: variable.undefined
			count: 1
			path: app/protected/lib/Tab.php

		-
			message: '#^Instantiated class Mustache\\Engine not found\.$#'
			identifier: class.notFound
			count: 1
			path: app/public/cocktails.php

		-
			message: '#^Instantiated class Mustache\\Loader\\FilesystemLoader not found\.$#'
			identifier: class.notFound
			count: 1
			path: app/public/cocktails.php

		-
			message: '#^Instantiated class Cocktails not found\.$#'
			identifier: class.notFound
			count: 1
			path: app/public/image.php

		-
			message: '#^Instantiated class Mustache\\Engine not found\.$#'
			identifier: class.notFound
			count: 1
			path: app/public/image.php

		-
			message: '#^Instantiated class Mustache\\Loader\\FilesystemLoader not found\.$#'
			identifier: class.notFound
			count: 1
			path: app/public/image.php
