<footer class="code-footer">
  {{#readme_updated}}
  <div class="code-footer-date">last updated {{readme_updated}}</div>
  {{/readme_updated}}
  <div class="code-footer-links">
    <a href="{{url}}">github</a>{{#license_url}} | <a href="{{license_url}}">license</a>{{/license_url}}
  </div>
</footer>
