<!doctype html>
<html lang="en">
  {{> head}}

  <body>

    <script async src="/assets/javascript.js"></script>

    <div class="main-container">

      {{> nav}}
      {{> search_box }}

      <main class="main-container-body">
        <div class="card-grid">
          {{#objects}}
          {{{.}}}
          {{/objects}}
        </div>
      </main>

    </div>

  </body>

</html>

