<!doctype html>
<html lang="en">
  {{> head}}

  <body>

    <script async src="/assets/javascript.js"></script>

    <div class="main-container">

      {{> nav}}
      {{> search_box }}

      <main class="main-container-body">
        <div class="card-grid">
          {{#objects}}
          {{{.}}}
          {{/objects}}
        </div>

        {{#feed}}
        <footer class="collection-footer">
          <a class="feed-link" data-feed-base="{{atom}}" href="{{atom}}">atom</a>
          <span> | </span>
          <a class="feed-link" data-feed-base="{{rss}}" href="{{rss}}">rss</a>
        </footer>
        {{/feed}}
      </main>

    </div>

  </body>

</html>

