<div>
  <nav class="subway">
    <ul>
      {{#nav}}
      <li class="subway-tile">
        <a href="{{url}}" class="{{#active}}active{{/active}}">
          {{title}}
        </a>
      </li>
      {{/nav}}
    </ul>
  </nav>
</div>
