<!-- <!doctype html> -->
<table>
  <colgroup>
    <col class="tdleft">
    <col class="tdright">
  </colgroup> 
  <tbody>
    <thead>
      <tr>
        <th colspan="2">
          <div class="title uppercase">
            <a class=href="{{meta.url}}">{{identifier}}</a>
          </div>
        </th>
      </tr>
    </thead>
  </tbody>
</table> 
<div>
  <div>
    {{description}}
  </div>
</div>
<!-- <div class="icon icon-{{{icon_css_class}}}"></div> -->
