<div class="card-head">
  <div class="text-center title uppercase">{{description}}</div>
  <div class="text-center">{{type}}</div>
  <div class="text-center small-caps text-small">{{objectId}}</div>
</div>
<div class="card-body">
  <div>
    {{description}}
  </div>
  <div class="text-center text-small">{{date}}</div>
</div>
