<!doctype html>
<html lang="en">
  {{> head}}

  <body>

    <div class="main-container">

      {{> nav}}

      <main class="main-container-body card-grid">
        <div class="card-grid">
          {{#objects}}
          {{{.}}}
          {{/objects}}
        </div>
      </main>

    </div>

  </body>

</html>

