<!doctype html>
<html lang="en">
  {{> head}}

  <body>

    <div class="main-container">

      {{> nav}}

      <div class="card-grid">
        {{#objects}}
        {{{.}}}
        {{/objects}}
      </div>

    </div>

  </body>

</html>

