<!doctype html>
<html lang="en">
  {{> head}}

  <body>

    <script async src="/assets/javascript.js"></script>

    <div class="main-container">

      {{> nav}}

      {{> search_box }}

      <div class="main-container-body">
        <div class="card-grid">
          {{#zettels}}
          {{{.}}}
          {{/zettels}}
        </div>
      </div>

    </div>

  </body>
</html>

