<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <meta property="og:url" content="https://www.isittimetostopworkingyet.com/"/>
    <meta property="og:title" content="Yes, now it's time to make a cocktail"/>

    <meta property="og:image"
          content="https://www.isittimetostopworkingyet.com/i/{{image_id}}"/>

    <meta property="og:site_name" content="Is It Time to Stop Working Yet?"/>

    <link href="stylesheet.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="assets/favicon.png">

    <link rel="alternate" hreflang="en-us"
                          href="http://www.isittimetostopworkingyet.com" />

    <title>Is It Time to Stop Working Yet?</title>
    <style title="search">body {}</style>
  </head>

  <body>
    <script async src="javascript.js"></script>
    <div class="container">
      {{> nav}}
      <input autocapitalize="off" type="search" id="search-box"
                                                oninput="this.setAttribute('value', this.value); updateResults();"
                                                value="{{query}}" />
      <div class="card-grid">
        {{#cocktails}}
        {{> cocktail_card}}
        {{/cocktails}}
      </div>
    </div>
  </body>
</html>

