<!-- <!doctype html> -->
<nav class="subway">
  <ul>
    {{#nav}}
    <li class="subway-tile">
      <a href="{{url}}" class="{{#active}}active{{/active}}">
        {{title}}
      </a>
    </li>
    {{/nav}}
    <!-- <li class="subway-tile"><a href="https://linenisgreat.com">Home</a></li> -->
    <!-- <li class="subway-tile"><a href="https://code.linenisgreat.com">Code</a></li> -->
    <!-- <li class="subway-tile"><a href="https://isittimetostopworkingyet.com">Cocktails</a></li> -->
    <!-- <li class="subway-tile"><a href="https://sashafriedenberg.com/resume"><span class="notranslate">R&eacute;sum&eacute;</span></a></li> -->
    <!-- <li class="subway-tile"><a href="#">About</a></li> -->
    <!-- <li class="subway-tile"><a href="#">Writing</a></li> -->
    <!-- <li class="subway-tile"><a href="https://www.soyoudliketodatesasha.com">Date</a></li> -->
  </ul>
</nav>

<hr>
