<!doctype html>
<nav class="crumbs">
  <ul>
    <li class="crumb"><a href="#">About</a></li>
    <li class="crumb"><a href="https://code.linenisgreat.com">Code</a></li>
    <li class="crumb"><a href="#">Writing</a></li>
    <li class="crumb"><a href="/resume">Hire</a></li>
    <li class="crumb"><a href="https://www.soyoudliketodatesasha.com">Date</a></li>
    <li class="crumb"><a href="https://isittimetostopworkingyet.com">Cocktails</a></li>
  </ul>
</nav>
