<!-- <!doctype html> -->
<nav class="crumbs">
  <ul>
    <li class="crumb"><a href="https://linenisgreat.com">Home</a></li>
    <li class="crumb"><a href="https://code.linenisgreat.com">Code</a></li>
    <li class="crumb"><a href="https://isittimetostopworkingyet.com">Cocktails</a></li>
    <li class="crumb"><a href="https://sashafriedenberg.com/resume"><span class="notranslate">R&eacute;sum&eacute;</span></a></li>
    <!-- <li class="crumb"><a href="#">About</a></li> -->
    <!-- <li class="crumb"><a href="#">Writing</a></li> -->
    <!-- <li class="crumb"><a href="https://www.soyoudliketodatesasha.com">Date</a></li> -->
  </ul>
</nav>
