<!doctype html>
<html lang="en">
  {{> head}}

  <body>

    <div class="main-container">

      {{> nav}}

      <main class="main-container-body">
        <div class="object">
          {{{object}}}
        </div>
      </main>

    </div>

  </body>

</html>

