<!doctype html>
<html lang="en">
  {{> head}}

  <body>

    <div class="container">

      {{> nav}}

      <div class="flex-box-rows">
        <div style="max-width: 66ch;">
        {{{object}}}
        </div>
      </div>

    </div>

  </body>

</html>

