<!doctype html>
<html lang="en">
  {{> head}}

  <body>
    <script async src="/assets/javascript.js"></script>
    <div class="container">
      {{> nav}}
      {{{resume}}}
    </div>
  </body>
</html>

